html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f7a49e, #f7c6c2, #d9d7c2, #fceeed);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 3em;
  color: white;
  text-align: center;
  font-family: poppins;
  font-weight: 500;
  margin-top: -20px;
}

h2 {
  text-align: center;
  margin-top: -40px;
  color: white;
  font-family: poppins;
  font-weight: 350;
}

.audio-container {
  text-align: center;
  margin-top: -10px;
}

.img1 {
  position: absolute;
  top: 85px;
  right: 500px;
}

.img2 {
  position: absolute;
  top: 280px;
  left: 130px;
}

.img3 {
  position: absolute;
  bottom: 150px;
  right: 15%;
}

.img4 {
  position: absolute;
  top: 320px;
  left: 200px;
}

.img5 {
  position: absolute;
  top: 95px;
  right: 400px;
}
