body {
  background-image: linear-gradient(
    to bottom right,
    #c1cef8 0%,
    #cba9fd 25%,
    #c9b3d9 75%,
    #ddd3db 100%
  );
  margin: 2rem;
}
.home {
  font-family: poppins;
  color: white;
  text-align: center;
}
.header {
  font-optical-sizing: auto;
  padding: 15px;
  margin: auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.title {
  color: #818baa;
  text-align: center;
  margin-bottom: -15px;
}
.subtitle {
  font-size: 6rem;
}
.button {
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 5px 20px;
  border: none;
  border-radius: 15px;
  font-size: 12px;
  cursor: pointer;
}
.image {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
}

.section-title {
  color: white;
  font-family: poppins;
  font-size: 3rem;
  font-weight: 800;
  text-align: start;
  padding: 25px;
  margin-bottom: 25px;
}
#section1 {
  background-color: #cfb0fb;
}
#section2 {
  background-color: #fba076;
}
#section3 {
  background-color: #a5edf5;
}
#section4 {
  background-color: #def266;
}
