body {
  background-image: linear-gradient(
    to bottom right,
    #c1cef8 0%,
    #cba9fd 25%,
    #c9b3d9 75%,
    #ddd3db 100%
  );
  margin: 2rem;
}
.home {
  font-family: poppins;
  color: white;
  text-align: center;
}
.header {
  font-optical-sizing: auto;
  padding: 15px;
  margin: auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.title {
  color: #818baa;
  text-align: center;
  margin-bottom: -15px;
}
.subtitle {
  font-size: 6rem;
}
.button {
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 5px 20px;
  border: none;
  border-radius: 15px;
  font-size: 12px;
  cursor: pointer;
}
.image {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
}

.section-title {
  color: white;
  font-family: poppins;
  font-size: 3rem;
  font-weight: 800;
  text-align: start;
  padding: 25px;
  margin-bottom: 5px;
}
#section1 {
  background-color: #cfb0fb;
}
#section2 {
  background-color: #fba076;
}
#section3 {
  background-color: #a5edf5;
}
#section4 {
  background-color: #def266;
}
.layout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
}
.layout1 {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.box {
  width: fit-content;
  height: fit-content;
  display: grid;
  justify-content: flex-start;
  box-sizing: border-box;
  border-radius: 20px;
  border: solid white;
  margin: 10px;
  font-family: poppins;
  color: white;
  padding: 10px;
  flex-direction: column;
}
.question {
  flex: 1;
  display: block;
  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.answer {
  flex: 1;
  display: block;
  padding: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#question1 {
  background-color: #f4b8da;
}
#answer1 {
  background-color: #ffd0bc;
}
#question2 {
  background-color: #b2d2fb;
}
#answer2 {
  background-color: #dad3fe;
}
