html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Theme BG Colour Palettes */
body.theme-ocean {
  background: linear-gradient(135deg, #e0d7cf, #dfc6a9, #a1cacb, #699ab8);
  animation: gradientBG 15s ease infinite;
  background-size: 400% 400%;
  margin: 0;
  height: 100%;
}

body.theme-garden {
  background: linear-gradient(135deg, #f7a49e, #f7c6c2, #cdd4b1, #d9d7c2);
  animation: gradientBG 15s ease infinite;
  background-size: 400% 400%;
  margin: 0;
  height: 100%;
}

body.theme-galaxy {
  background: linear-gradient(135deg, #809bc4, #b9b0d6, #f5cfe9, #dceaf9);
  animation: gradientBG 15s ease infinite;
  background-size: 400% 400%;
  margin: 0;
  height: 100%;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Instrument Buttons Styling */
#container {
  width: 100vw;
  height: 100vh;
}

#instrument-buttons {
  position: fixed;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 10;
}

.instrument-btn {
  padding: 1em;
  font-size: 1.1em;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: background 0.2s, color 0.2s;
  outline: none;
  align-items: center;
}

/* Ocean Instrument Button */
body.theme-ocean #piano-button {
  background: linear-gradient(#699ab8, #a1cacb);
}
body.theme-ocean #piano-button.active {
  background: linear-gradient(#46618a, #7ca5c6);
}

body.theme-ocean #flute-button {
  background: linear-gradient(#77c2c2, #b5e3e8);
}
body.theme-ocean #flute-button.active {
  background: linear-gradient(#3a8f8f, #78bfc6);
}

body.theme-ocean #chime-button {
  background: linear-gradient(#cab093, #e0d7cf);
}
body.theme-ocean #chime-button.active {
  background: linear-gradient(#b4937a, #d8c7a7);
}

/* Garden Instrument Button */
body.theme-garden #piano-button {
  background: linear-gradient(#8cb88f, #c8e3d3);
}
body.theme-garden #piano-button.active {
  background: linear-gradient(#79a67c, #b8d8c6);
}

body.theme-garden #flute-button {
  background: linear-gradient(#f7a49e, #f7c6c2);
}
body.theme-garden #flute-button.active {
  background: linear-gradient(#dc9089, #efb9b4);
}

body.theme-garden #chime-button {
  background: linear-gradient(#bdb099, #d9d3c2);
}
body.theme-garden #chime-button.active {
  background: linear-gradient(#bca283, #cfc4ad);
}

/* Galaxy Instrument Button */
body.theme-galaxy #piano-button {
  background: linear-gradient(#bda6e0, #d5cdef);
}
body.theme-galaxy #piano-button.active {
  background: linear-gradient(#8873c6, #ccc3ea);
}

body.theme-galaxy #flute-button {
  background: linear-gradient(#adcae9, #cfe6f5);
}
body.theme-galaxy #flute-button.active {
  background: linear-gradient(#95b8dc, #bfdbf3);
}

body.theme-galaxy #chime-button {
  background: linear-gradient(#f7b3ae, #f8d1cd);
}
body.theme-galaxy #chime-button.active {
  background: linear-gradient(#ea8f87, #efbeba);
}

dialog {
  border: none;
  outline: none;
  border-radius: 16px;
  padding: 1.5em 3em 2em 3em;
  background: linear-gradient(#b9b0d6, #d3cfeb);
  color: #716698;
  justify-content: center;
  text-align: center;
  font-family: "quicksand";
}

#dialogBtn {
  border: none;
  outline: none;
  padding: 1em 3em;
  font-size: 1rem;
  border-radius: 8px;
  background: linear-gradient(#b9b0d6, #c5bde0);
  color: #edebfa;
  font-family: "quicksand";
}

/* Slider Styling */
.volume-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 95vw;
  z-index: 1000;
}

#slider-container {
  width: 10rem;
  margin: 10px;
  position: relative;
  z-index: 1;
}

.slider {
  appearance: none;
  width: 100%;
  height: 10px;
  -webkit-transition: 0, 2s;
  transition: 0.2s;
  border-radius: 10px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 20px;
  border-radius: 10px;
  background: #f5efeb;
}

/* Ocean Slider */
body.theme-ocean .slider {
  background: linear-gradient(to left, #83b0cb, #b4d8d8);
}
/* Garden Slider */
body.theme-garden .slider {
  background: linear-gradient(to left, #bca283, #cfc4ad);
}
/* Galaxy Slider */
body.theme-galaxy .slider {
  background: linear-gradient(to left, #b39fea, #cdbbef);
}

/* Dropdown Styling */
.dropdown {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 1000;
}

.dropbtn {
  background: none;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  align-items: center;
  outline: none;
}

.dropbtn img {
  margin-right: 6px;
}

.dropdown-content {
  position: absolute;
  display: none;
  background-color: #f5efeb;
  right: 0;
  min-width: 160px;
  border-radius: 5px;
  z-index: 1;
  overflow: hidden;
}

.dropdown-content button {
  color: #a08d80;
  padding: 12px 16px;
  border: none;
  background: none;
  text-align: left;
  width: 100%;
}

.dropdown-content button:hover {
  background-color: #ece0d8;
}

.dropdown-content.show {
  display: block;
}
