body {
  /* I incorporated a background color that closely matches the Luni app website to maintain a consistent color palette throughout the site.*/
  background-image: linear-gradient(
    to bottom right,
    #c1cef8 0%,
    #cba9fd 25%,
    #c9b3d9 75%,
    #ddd3db 100%
  );
  margin: 2rem;
}
.home {
  /* The website utilizes the 'Social' font, which I couldn't find in Google Fonts. Therefore, I decided to use 'Poppins' as it shares a clean and similar aesthetic. */
  font-family: poppins;
  color: white;
  text-align: center;
}
.header {
  font-optical-sizing: auto;
  padding: 15px;
  margin: auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.title {
  color: #818baa;
  text-align: center;
  margin-bottom: -15px;
}
.subtitle {
  font-size: 6rem;
}
.button {
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 5px 20px;
  border: none;
  border-radius: 15px;
  font-size: 12px;
  cursor: pointer;
}
.image {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
}

.section-title {
  color: white;
  font-family: poppins;
  font-size: 2rem;
  font-weight: 700;
  text-align: start;
  padding: 25px;
  margin-bottom: 5px;
}
/* I incorporated the four colors from the original website into each section to create a similar division in my layout. */
#section1 {
  background-color: #cfb0fb;
}
#section2 {
  background-color: #fba076;
}
#section3 {
  background-color: #a5edf5;
}
#section4 {
  background-color: #def266;
}
.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 20px;
}
.layout1 {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
/* To make each question neater, I decided to separate them into individual boxes. */
.box {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 20px;
  border: solid white;
  font-family: poppins;
  color: white;
  padding: 10px;
  flex-direction: column;
  font-size: 12px;
}
/* I used different colors to separate the question and answer sections, and I also made the questions bold to make them stand out more. */
.question {
  flex: 1;
  display: block;
  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: 500;
  box-sizing: border-box;
}
.answer {
  flex: 1;
  display: block;
  padding: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-sizing: border-box;
}
/* I selected these colors from the website to align with the pastel color aesthetics. */
#question1 {
  background-color: #f4b8da;
}
#answer1 {
  background-color: #ffd0bc;
}
#question2 {
  background-color: #b2d2fb;
}
#answer2 {
  background-color: #dad3fe;
}
li {
  margin-left: 15px;
}
