* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background: radial-gradient(#f7a49e, #f8d7f6);
}
:root {
  --col01: black;
  --col02: pink;
  --col03: skyblue;
}

body {
  font-family: "poppins";
  color: #ae6f4d;
  text-align: center;
}
