* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background: radial-gradient(#f7a49e, #f8d7f6);
  align-items: center;
  flex: auto;
  padding: 20px;
  gap: 15px;
}

body {
  font-family: "cute font";
  color: #ae6f4d;
  text-align: center;
}
