.header {
  font-family: "Jersey 20";
  text-align: center;
  padding: 15px;
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 15px;
  display: flex;
  align-items: flex-start;
}
