body {
  font-family: "pf-videotext";
}

/* Header */
.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin: 20px 20px 0;
  text-align: center;
}

/* Navbar */
.navbar {
  background-color: #9a9a9a;
  position: sticky;
  margin-top: 24px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  top: 0;
}

.navbar ul {
  justify-content: space-between;
  display: flex;
  padding: 10px;
  margin: 20px;
  margin-inline-start: 5em;
  margin-inline-end: 5em;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #d2d2d2;
}

/* Title */
.title {
  text-align: center;
}

h1,
h2 {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 13rem;
  font-weight: bold;
  font-family: "Covered by your grace";
}

h2 {
  font-size: 2rem;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  text-align: justify;
}

h4 {
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}

/* Questions and Answers */
.container {
  border: solid white;
  flex-direction: column;
  width: auto;
  height: fit-content;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 5px;
  margin: 24px;
}

.category {
  flex: 1;
  display: flex;
  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: 500;
  background-color: #d0d0d0;
  color: black;
  margin-bottom: 2px;
  box-sizing: border-box;
  max-width: 150rem;
  font-weight: bold;
}

.answer {
  flex: 1;
  display: flex;
  padding: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;
  color: black;
  box-sizing: border-box;
  max-width: 150rem;
  flex-direction: column;
}
